.header {
	display: flex;
	align-items: center;
	height: 10vh;
	padding: 25px 30px 25px 30px;
	color: white;
	background-color: #225A86;
}

.logo {
	width: 70px;
	margin-right: 25px;
    cursor: pointer;
}

.search {
	border: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	height: 4vh;
	margin-left: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    background-color: #225A86;
}

.lien {
    cursor: pointer;
    font-size: 32;
    margin-top: 20px;
    margin-bottom: 20px;
}