.card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 210px ;
    margin : 40px
}

.header {
    display: flex;
    align-items: flex-start;
}

.heart {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 20px;
}

.city {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
    font-size: 20px;
}

.tempContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.temp {
    font-size: 20px;
    margin-bottom: 10px;
}