.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
	color: white;
	background-color: #225A86;
}

.logo {
	width: 70px;
	cursor: pointer;
}

.search {
	border: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	height: 4vh;
}

.cityContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100vw;
	margin: 20px;
}

.list {
    display: flex;
    flex-direction: column;
	background-color: #225A86;
}

.lien {
    cursor: pointer;
    font-size: 32;
    margin-top: 20px;
    margin-bottom: 20px;
}