.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
	color: white;
	background-color: #225A86;
}

.logo {
	width: 70px;
	margin-right: 25px;
    cursor: pointer;
}

.search {
	border: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	height: 4vh;
	margin-left: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    background-color: #225A86;
}

.lien {
    cursor: pointer;
    font-size: 32;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerForm {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 41, 55, 0.75);
    z-index: 1000;
    width: 100vw;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.close{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
}

.changeContainer {
    width: 600px;
    height: 400px;
    background-color: #151D26;
    border-radius: 10px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.input {
    width: 80%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    border : none
}

.button {
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(40, 107, 159, 1);

}

.button:hover {
    background: rgba(50, 120, 162, 1);
}

.error {
    color:brown;
    margin-top: 10px;
    font-size: 14px;
}