.containerForm {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 41, 55, 0.75);
  z-index: 1000;
  width: 100vw;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.signinContainer {
  width: 600px;
  height: 400px;
  background-color: #151d26;
  border-radius: 10px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: white;
  cursor: pointer;
}

.input {
  width: 80%;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: none;
}

.button {
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(40, 107, 159, 1);
}

.error {
  color: brown;
  margin-top: 10px;
  font-size: 14px;
}

.button:hover {
  background: rgba(50, 120, 162, 1);
}

@media (max-width: 850px) {
  .signinContainer {
    width: 70%;
    height: 350px;
    margin-bottom: 100px;
    padding: 30px;
  }

  .input {
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
  }

  .button {
    width: 20%;
    height: 40px;
  }

  .error {
    margin-top: 10px;
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .signinContainer {
    height: 300px;
    margin-bottom: 100px;
    padding: 30px;
  }

  .input {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
  }

  .button {
    width: 20%;
    height: 40px;
  }

  .error {
    margin-top: 10px;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .button {
    width: 30%;
    height: 40px;
  }

  .error {
    font-size: 10px;
  }
}
